<nav
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
  <img src="https://scontent.fgdl3-1.fna.fbcdn.net/v/t39.30808-6/316671731_925861238381588_1586047284356844213_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=wYyLXmEOuO4AX8vbZBw&_nc_ht=scontent.fgdl3-1.fna&oh=00_AfCjuOm8cY27IHXCSpHaLPaQsVaaP325VVe6P6wONuW3bQ&oe=6388F3BB" alt="..." height="200">
  </a>

  <% if (!isAuthenticated) { %>
  <div class="col-md-3 text-end">
    <a href="/login" class="btn btn-outline-primary me-2">Iniciar sesion</a>
    <a href="/register" class="btn btn-primary">Registro</a>
  </div>
  <% } else { %>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
    <li><a href="../nosotros" class="nav-link px-2 link-dark">Nosotros</a></li>
    <li><a href="mailto:paulina.grodriguez@academicos.udg.mx?Subject=Dudas%20Sobre%20Orientación%20Educativa" class="nav-link px-2 link-dark">Contacto</a></li>

  </ul>
  <div class="col-md-3 text-end">
    <form action="/logout" method="post">
      <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
      <a class="btn btn-info" href="/schedule/profile">Crear cita</a>
      <button class="btn btn-danger" type="submit">Cerrar Sesion</button>
    </form>
  </div>
  <% } %>
</nav>
